<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
    <!-- Style CSS dosyasını ekliyoruz -->
    <link rel="stylesheet" href="{{ url_for('static', filename=data['css_path']) }}">
</head>
<body>
    <!-- Arka plan resmini ekliyoruz -->
    <div class="background"></div>

    <div class="content-wrapper">
        <div class="title-wrapper">
            <img src="{{ url_for('static', filename=data['logo_path']) }}" alt="Logo" class="logo">
            
            {% if data.icons %}
                {% for icon in data.icons %}
                    <img src="{{ url_for('static', filename='icons/' + icon) }}" 
                        alt="Icon" 
                        class="icon icon-{{ loop.index }}">
                {% endfor %}
            {% endif %}
            
            <h1>{{ data.title }}</h1> <!-- Başlık -->
        </div>

        <div class="message">
            <p>{{ data.message }}</p>  <!-- Açıklama -->
        </div>

        <ul>
            {% for number in data.heading %}
                <li>{{ number }}</li>  <!-- Filtre hatası düzeltildi -->
            {% endfor %}
        </ul>

        <!-- İletişim bilgileri -->
        <div class="contact-info">
            <p><strong>Sipariş üçün:</strong> 
                <span class="contact-logo">
                    <img src="{{ url_for('static', filename='icons/whatsapp.ico') }}" alt="Whatsapp Logo">
                </span>
                <span class="contact-text">{{ data.phone }}</span>
            </p>
        </div>


        {% if data.operator_icons %}
            <div class="operator-icons">
                {% for icon_op in data.operator_icons %}
                    <img src="{{ url_for('static', filename='icons/operator/' + icon_op) }}" 
                        alt="Icon" 
                        class="operator-icons op-icon-{{ loop.index }}">
                {% endfor %}
            </div>
        {% else %}
            <p>Operator ikonları tapılmadı.</p>
        {% endif %} 

        <footer>
            <p>{{ data.description }}</p>  <!-- Açıklama -->
        </footer>
    </div>
</body>
</html>
