<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
    <!-- Style CSS dosyasını ekliyoruz -->
    <link rel="stylesheet" href="{{ url_for('static', filename=data.css_path) }}">
</head>
<body>
    <!-- Arka plan resmini ekliyoruz -->
    <div class="background"></div>

    <div class="content-wrapper">
        <div class="title-wrapper">
            <img src="{{ url_for('static', filename=data.logo_path) }}" alt="Logo" class="logo">
            {% for icon in data.icons %}
                <img src="{{ url_for('static', filename='icons/' + icon) }}" 
                    alt="Icon" 
                    class="icon icon-{{ loop.index }}">
            {% endfor %}
            <h1>{{ data.title }}</h1> <!-- Başlık -->
        </div>
        <p> 
            <div class="message">
            {{ data.message }}  <!-- Açıklama -->
            <div>
        </p>
        <ul>
            {% for number in data.heading %}
                <li>{{ number | format_phone }}</li>
            {% endfor %}
        </ul>
      <!-- İletişim bilgilerini tek satırda gösteriyoruz -->
        <div class="contact-info">
            <p><strong>Sipariş üçün:</strong> 
                <span class="contact-logo">
                    <img src="{{ url_for('static', filename='icons/whatsapp.ico') }}" alt="Whatsapp Logo">
                </span>
                <span class="contact-text">{{ data.phone }}</span>
            </p>
        </div>

        <footer>
            <p>{{ data.description }}</p>  <!-- Açıklama -->
        </footer>
    </div>
</body>
</html>
